*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/SceytSDK-debug/build/.transforms/7d38c9c88f65dade1478639fffbf3158/transformed/SceytSDK-debug/
/SceytSDK-debug/build/.transforms/
